.encabezado {
    max-width: 100%;
    height: 90px;
    background: #ddd;
    border-top: 2px solid #ddd;
}
.subencabezado {
    margin: auto;
    max-width: 70%;
    height: auto;
	    
}
.menu {
    max-width:100%;
    height:52px;
    background:#fff;
}
.submenu {
    margin:auto;
    max-width:80%;
    height:auto;
    
}

.pie {
    max-width:100%;
    height:60px;
    background:#444;
    border-top:1px solid #333;
    
}
.subpie {
    margin:auto;
    max-width:85%;
    height:36px;
    padding-top:20px;
    text-align:center;
}



.item_m {
    float: left;
    font-size:18px;
    padding:15px 35px;
    list-style:none;
    color: grey;
    background-color: #f0f0f0;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
    background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);

    border-right: 1px solid rgba(9, 9, 9, 0.125);

    
    box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
}

