.encabezado {
    max-width: 100%;
    height: 90px;
    background: #ddd;
    border-top: 2px solid #ddd;
}
.subencabezado {
    margin: auto;
    max-width: 70%;
    height: auto;
	    
}
.menu {
    max-width:100%;
    height:52px;
    background:#fff;
}
.submenu {
    margin:auto;
    max-width:80%;
    height:auto;
}

.pie {
    max-width:100%;
    height:60px;
    background:#444;
    border-top:1px solid #333;
    
}
.subpie {
    margin:auto;
    max-width:85%;
    height:36px;
    padding-top:20px;
    text-align:center;
}



.item_m {
    float: left;
    font-size:18px;
    padding:15px 35px;
    list-style:none;
    color: gray;
    background-color: #f0f0f0;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
    background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);

    border-right: 1px solid rgba(9, 9, 9, 0.125);

    
    box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
}

.boton {
    border: none;
    background: #9F0000;
    color: #f2f2f2;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
    cursor: pointer;
}

.textbox {
	border: 1px solid #DBE1EB;
	font-size: 18px;
	font-family: Arial, Verdana;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    -o-border-radius: 4px;
	background: #FFFFFF;
	background: linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
	background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
	color: #2E3133;
}
.textbox:focus{
	color: #2E3133;
	border-color: #FBFFAD;
}
/*Secion de tabla*/
tr:nth-child(even) {background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

#asigpanel{
    border-radius: 16px; 
    box-shadow: 8px black;
    opacity: 0.6;
    background: rgba(242,246,248,1);
    background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(50%, rgba(216,225,231,1)), color-stop(51%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
    background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
}

.infoProg{
    width: 90%;
    border-radius: 8px;
    box-shadow: 0px 0px 12px #1170da;
    background-color: white;
    padding: 4px;
    text-shadow: 0px 0px 5px skyblue;
    
}

#anim_load{
    width: 30%;
    left: 35%;
    position: fixed;
    top: 20%;
    z-index: -1;
    visibility: hidden;
    box-shadow: 0px 0px 35px black;
    border-color: #ddd;
    border-radius: 16px;
}

#lightframe{
    background: rgba(107,107,107,1);
    background: -moz-linear-gradient(top, rgba(107,107,107,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(107,107,107,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(107,107,107,1) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(107,107,107,1) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(107,107,107,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(107,107,107,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b6b6b', endColorstr='#000000', GradientType=0 );
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    visibility: hidden;
    opacity: 0.75;
}

iframe{
    background-color: white;
    box-shadow: 0px 0px 25px black;
    width: 80%;
    height: 70%;
    left: 10%;
    top: 15%;
    position: fixed;
    visibility: hidden;
}

.cf{
    position: fixed;
    visibility: hidden;
    top: 10%;
    right: 10%;
}

.cf:hover{
    box-shadow: 0px 0px 25px red;
}
#linkRefresh{
    font: arial;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    text-shadow: 0px 0px 5px white;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 25%, rgba(224,224,224,1) 84%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(25%, rgba(224,224,224,1)), color-stop(84%, rgba(224,224,224,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 25%, rgba(224,224,224,1) 84%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 25%, rgba(224,224,224,1) 84%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 25%, rgba(224,224,224,1) 84%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 25%, rgba(224,224,224,1) 84%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );  
}
#linkRefresh:hover{
    box-shadow: 0px 3px 8px black;
    color: black;
    background: rgba(242,246,248,1);
    background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(50%, rgba(216,225,231,1)), color-stop(51%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
    background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
}

.rowSelectedClass{
    text-shadow: 0px 0px 5px white;
    background: rgba(242,246,248,1);
    background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(50%, rgba(216,225,231,1)), color-stop(51%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
    background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );

}
.rowUnSelectedClass1{
    text-shadow: 0px 0px 0px white;
    background: rgba(222,222,222,1);
    background: -moz-linear-gradient(top, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,222,222,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(222,222,222,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#ffffff', GradientType=0 );

}
.rowUnSelectedClass2{
    text-shadow: 0px 0px 0px white;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(235,235,235,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb', GradientType=0 );
   
}
.title{
    font-size: 30px;
    font-family: sans-serif;
    font: arial;
    text-align: center;
    text-shadow: 0px 3px 5px gray;
}
.sombra{
    box-shadow: 0px 0px 8px #A4A4A4;
}

[class*="ui-datatable"]:hover{   
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(217,240,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(217,240,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(217,240,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(217,240,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(217,240,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(217,240,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9f0ff', GradientType=0 );
}

[class*="mySelector"]{
    font: arial;
    font-family: sans-serif;
    border-radius: 3px;
    width: 55%;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    
}

[class*="mySelector"]:hover{
    box-shadow: 0px 0px 5px gray;
    background-color: #E0F2F7;
    
}

.closeButton{
    text-shadow: 0px 0px 5px black;
    text-align: center;
    font: Arial Black;
}

.closeButton:hover{
    text-shadow: 0px 0px 10px white;
    box-shadow: 0px 0px 8px skyblue;
}

.openButton{
    text-shadow: 0px 2px 6px gainsboro;
    text-align: center;
    font: Arial;
    font-family: sans-serif;
    font-size: 120%;
    border-radius: 4px;  
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(182,200,212,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(182,200,212,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(182,200,212,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(182,200,212,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(182,200,212,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(182,200,212,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b6c8d4', GradientType=0 );
}
.openButton:hover{
    text-shadow: 0px 0px 6px white;
    box-shadow: 0px 0px 5px gray;   
    background: rgba(242,252,255,1);
    background: -moz-linear-gradient(top, rgba(242,252,255,1) 0%, rgba(199,239,252,1) 50%, rgba(166,234,255,1) 51%, rgba(222,246,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,252,255,1)), color-stop(50%, rgba(199,239,252,1)), color-stop(51%, rgba(166,234,255,1)), color-stop(100%, rgba(222,246,255,1)));
    background: -webkit-linear-gradient(top, rgba(242,252,255,1) 0%, rgba(199,239,252,1) 50%, rgba(166,234,255,1) 51%, rgba(222,246,255,1) 100%);
    background: -o-linear-gradient(top, rgba(242,252,255,1) 0%, rgba(199,239,252,1) 50%, rgba(166,234,255,1) 51%, rgba(222,246,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,252,255,1) 0%, rgba(199,239,252,1) 50%, rgba(166,234,255,1) 51%, rgba(222,246,255,1) 100%);
    background: linear-gradient(to bottom, rgba(242,252,255,1) 0%, rgba(199,239,252,1) 50%, rgba(166,234,255,1) 51%, rgba(222,246,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2fcff', endColorstr='#def6ff', GradientType=0 );
}

.etiqueta{
    font: arial;
    font-family: sans-serif;
    font-size: 105%;
}
