<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pcvpmo.pdsw.upteho.dao.mybatis.mappers.ClaseMapper">
    <resultMap type='Clase' id='ClaseResult'>
       <id property='id' column='id_clase'/>
       <id property="cursoId" column="Cursos_id"/>
       <result property="fecha" column="fecha"/>
       <result property="hora" column="hora"/>
       <result property="tipo_salon" column="tipo_salon"/>
    </resultMap>
    
    <select parameterType="map" id="consultarClasesCurso" resultMap="ClaseResult">
        select
        cla.Cursos_id,
        cla.id_clase,
        cla.fecha,
        cla.hora,
        cla.tipo_salon
        
        from Clases as cla
        left join Cursos as cur on cla.Cursos_id=cur.id
        
        where cur.id=COALESCE(#{curId}, cur.id)
    </select>
    
    <select parameterType="map" id="consultarClasesxPeriodo" resultMap="ClaseResult">
        select
        cla.Cursos_id,
        cla.id_clase,
        cla.fecha,
        cla.hora,
        cla.tipo_salon
        
        from Clases as cla
        left join Cursos as cur on cla.Cursos_id=cur.id
        
        where cur.Periodo_nombre=COALESCE(#{periodo}, cur.Periodo_nombre)
    </select>
    
    <select parameterType="map" id="consultarClasesProfesor" resultMap="ClaseResult">
        select
        cla.Cursos_id,
        cla.id_clase,
        cla.fecha,
        cla.hora,
        cla.tipo_salon
        
        from Clases as cla
        left join Cursos as cur on cla.Cursos_id=cur.id
        left join Profesores as prf on cur.Profesor_id=prf.id
        
        where prf.id=COALESCE(#{idProf}, prf.id)
    </select>
    
    <insert parameterType="map" id="agregarClase">
        insert into Clases (id_clase,Cursos_id,fecha,hora,tipo_salon) values((select max(id_clase)+1 from Clases),#{idCurso},#{fecha},#{hora},#{tSalon})
    </insert>
    
    <delete parameterType="map" id="cancelarClase" >
        delete from Clases where id_clase=#{idClase}
    </delete>
    
</mapper>