<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pcvpmo.pdsw.upteho.dao.mybatis.mappers.CursoMapper">
    <resultMap type='Curso' id='CursoResult'>
        <id property='id' column='id'/>
        <association property="materia" javaType="Materia" columnPrefix="mat_" resultMap="com.pcvpmo.pdsw.upteho.dao.mybatis.mappers.MateriaMapper.MateriaResult"></association>
         <association property="periodo" javaType="Periodo" columnPrefix="per_" resultMap="PeriodoResult"></association>
        <association property='profesor' javaType="Profesor" columnPrefix="prf_" resultMap="com.pcvpmo.pdsw.upteho.dao.mybatis.mappers.ProfesorMapper.ProfesorResult"/>
       
    </resultMap>
    
    <resultMap type='Periodo' id='PeriodoResult'>
        <id property='nombre' column='nombre'/>
        <result property='fechaInicial' column='fecha_inicio'/>
        <result property='fechaFin' column='fecha_fin'/>
    </resultMap>
    
    
    
    <select parameterType="map" id="consultarCursos" resultMap="CursoResult">
        
        select
        cur.id,
        cur.Profesor_id,
        cur.Materias_sigla,
        cur.Periodo_nombre,
        
        mat.sigla as mat_sigla,
        mat.nombre as mat_nombre,
        mat.creditos as mat_creditos,
        mat.descripcion as mat_descripcion,
        mat.Asignaturas_id as mat_Asignaturas_id,
        
        asi.id as mat_asi_id,
        asi.nombre as mat_asi_nombre,
        asi.Programas_id as mat_asi_Programas_id,
        
        pro.id as mat_asi_pro_id,
        pro.nombre as mat_asi_pro_nombre,
        
        per.nombre as per_nombre,
        per.fecha_inicio as per_fecha_inicio,
        per.fecha_fin as per_fecha_fin,
        
        prf.id as prf_id,
        prf.nombre as prf_nombre,
        prf.correo as prf_correo
        
        from Cursos as cur
        left join Materias as mat on cur.Materias_sigla=mat.sigla
        left join Asignaturas as asi on mat.Asignaturas_id=asi.id
        left join Programas as pro on asi.Programas_id=pro.id
        left join Periodos as per on cur.Periodo_nombre=per.nombre
        left join Profesores as prf on cur.Profesor_id=prf.id
    </select>
    
    <select parameterType="map" id="consultarCurso" resultMap="CursoResult">
         select
        cur.id,
        cur.Profesor_id,
        cur.Materias_sigla,
        cur.Periodo_nombre,
        
        mat.sigla as mat_sigla,
        mat.nombre as mat_nombre,
        mat.creditos as mat_creditos,
        mat.descripcion as mat_descripcion,
        mat.Asignaturas_id as mat_Asignaturas_id,
        
        asi.id as mat_asi_id,
        asi.nombre as mat_asi_nombre,
        asi.Programas_id as mat_asi_Programas_id,
        
        pro.id as mat_asi_pro_id,
        pro.nombre as mat_asi_pro_nombre,
        
        per.nombre as per_nombre,
        per.fecha_inicio as per_fecha_inicio,
        per.fecha_fin as per_fecha_fin,
        
        prf.id as prf_id,
        prf.nombre as prf_nombre,
        prf.correo as prf_correo
        
        from Cursos as cur
        left join Materias as mat on cur.Materias_sigla=mat.sigla
        left join Asignaturas as asi on mat.Asignaturas_id=asi.id
        left join Programas as pro on asi.Programas_id=pro.id
        left join Periodos as per on cur.Periodo_nombre=per.nombre
        left join Profesores as prf on cur.Profesor_id=prf.id
        where cur.id= #{idCur}
    </select>
    
      <select parameterType="map" id="consultarCursosPorPeriodo" resultMap="CursoResult">
        select
        cur.id,
        cur.Profesor_id,
        cur.Materias_sigla,
        cur.Periodo_nombre,
        
        mat.sigla as mat_sigla,
        mat.nombre as mat_nombre,
        mat.creditos as mat_creditos,
        mat.descripcion as mat_descripcion,
        mat.Asignaturas_id as mat_Asignaturas_id,
        
        asi.id as mat_asi_id,
        asi.nombre as mat_asi_nombre,
        asi.Programas_id as mat_asi_Programas_id,
        
        pro.id as mat_asi_pro_id,
        pro.nombre as mat_asi_pro_nombre,
        
        per.nombre as per_nombre,
        per.fecha_inicio as per_fecha_inicio,
        per.fecha_fin as per_fecha_fin,
        
        prf.id as prf_id,
        prf.nombre as prf_nombre,
        prf.correo as prf_correo
        
        from Cursos as cur
        left join Materias as mat on cur.Materias_sigla=mat.sigla
        left join Asignaturas as asi on mat.Asignaturas_id=asi.id
        left join Programas as pro on asi.Programas_id=pro.id
        left join Periodos as per on cur.Periodo_nombre=per.nombre
        left join Profesores as prf on cur.Profesor_id=prf.id
        
        where per.nombre=COALESCE(#{nombrePeriodo}, per.nombre)
    </select>
    
   
</mapper>