<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pcvpmo.pdsw.upteho.dao.mybatis.mappers.MateriaMapper">
    <resultMap type='Materia' id='MateriaResult'>
        <id property='sigla' column='sigla'/>
        <result property='nombre' column='nombre'/>
        <result property="creditos" column="creditos"/>
        <result property="descripcion" column="descripcion"/>
        <association property="asignatura" javaType="Asignatura" columnPrefix="asi_" resultMap="AsignaturaResult"></association>
    </resultMap>
    
    <resultMap type='Asignatura' id='AsignaturaResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <association property="programa" javaType="Programa" columnPrefix="pro_" resultMap="ProgramaResult"/>
    </resultMap>
    
    <resultMap type='Asignatura' id='AsignaturaPorProgramaResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
    </resultMap>
    
    <resultMap type="Programa" id="ProgramaResult">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
    </resultMap>
    
    <resultMap type="Materia" id="MateriasResult">
        <id property='sigla' column='sigla'/>
        <result property='nombre' column='nombre'/>
        <result property="creditos" column="creditos"/>
        <result property="descripcion" column="descripcion"/>
    </resultMap>
    
    <select parameterType="map" id="consultarMaterias" resultMap="MateriasResult">
        
        select
        
        sigla
        nombre
        
        from Materias
    </select>
    
    <select parameterType="map" id="consultarProgramas" resultMap="ProgramaResult">
        select
        
        *
        from Programas
        
    </select>
    
    <select parameterType="map" id="getAsigXProg" resultMap="AsignaturaPorProgramaResult">
        
        select
        
        id
        nombre  
              
        from Asignaturas
        where Asignaturas.programas_id = #{programa}
        
    </select>
    
    <select parameterType="map" id="consultarMateriasxAsignatura" resultMap="MateriaResult">
        select sigla, nombre, creditos, descripcion
        from materias
        where Asignaturas_id=COALESCE(#{idAsignatura}, Asignaturas_id);     
    </select>
    

    <select parameterType = "map" id="consultarMateriaSigla" resultMap="MateriaResult">
        select sigla, nombre, creditos, descripcion
        from materias
        where materias.sigla = #{sigla}
    </select>

    <select parameterType="map" id="consultarMateria" resultMap="MateriaResult">
        select
        mat.sigla as sigla,
        mat.nombre as nombre,
        mat.creditos as creditos,
        mat.descripcion as descripcion,
        mat.Asignaturas_id as Asignaturas_id,
        
        asi.id as asi_id,
        asi.nombre as asi_nombre,
        asi.Programas_id as asi_Programas_id,
        
        pro.id as asi_pro_id,
        pro.nombre as asi_pro_nombre
        
        from Materias as mat
        left join Asignaturas as asi on mat.Asignaturas_id=asi.id
        left join Programas as pro on asi.Programas_id=pro.id
        
        where mat.sigla=#{siglaMateria};
    </select>
    
    <insert parameterType="map" id="registrarMateria">
        insert into materias
        values (#{sigla}, #{nombre}, #{creditos}, #{descripcion}, #{idAsignatura});
    </insert>    
    
    <select parameterType="map" id="consultarMateriasxPrograma" resultMap="MateriaResult">
        select
        mat.sigla as sigla, mat.nombre as nombre,
        asi.id as asi_id, asi.nombre as asi_nombre,
        pro.id as asi_pro_id, pro.nombre as asi_pro_nombre
        
        from materias as mat
        right join asignaturas as asi on mat.Asignaturas_id=asi.id
        right join programas as pro on asi.Programas_id=pro.id
        where pro.id=#{programa};     
    </select>
</mapper>