<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pcvpmo.pdsw.upteho.dao.mybatis.mappers.MateriaMapper">
    <resultMap type='Materia' id='MateriaResult'>
        <id property='sigla' column='sigla'/>
        <result property='nombre' column='nombre'/>
        <result property="creditos" column="creditos"/>
        <result property="descripcion" column="descripcion"/>
        <association property="asignatura" javaType="Asignatura" columnPrefix="asi_" resultMap="AsignaturaResult"></association>
    </resultMap>
    
    <resultMap type='Asignatura' id='AsignaturaResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
        <association property="programa" javaType="Programa" column="pro_" resultMap="ProgramaResult"/>
    </resultMap>
    
    <resultMap type='Asignatura' id='AsignaturaPorProgramaResult'>
        <id property='id' column='id'/>
        <result property='nombre' column='nombre'/>
    </resultMap>
    
    <resultMap type="Programa" id="ProgramaResult">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
    </resultMap>
    

    <select parameterType="map" id="consultarProgramas" resultMap="ProgramaResult">
        select
        *
        from Programas
    </select>
    
    <select parameterType="map" id="getAsigXProg" resultMap="AsignaturaPorProgramaResult">
        select
        
        
        nombre
        
        from Asignaturas
        
    </select>
    
    
    
    <insert parameterType = "map" id="registrarMateria">
        INSERT INTO MATERIAS (sigla,nombre,creditos,descripcion,Asignaturas_id) VALUES(#{sigla},#{nombre},#{creditos},#{descripcion},#{asignatura});
    </insert>

    <select parameterType="map" id="consultarMateriasxAsignatura" resultMap="MateriaResult">
        select sigla, nombre, creditos, descripcion
        from materias
        where Asignaturas_id=COALESCE(#{idAsignatura}, Asignaturas_id);     
    </select>

</mapper>