<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pcvpmo.pdsw.upteho.dao.mybatis.mappers.PeriodoMapper">
    <select parameterType="map" id="consultarPeriodo" resultMap="com.pcvpmo.pdsw.upteho.dao.mybatis.mappers.CursoMapper.PeriodoResult">
        select
                
        nombre,
        fecha_inicio,
        fecha_fin
        from periodos
        where nombre=#{idPeriodo}
    </select>
    
    <select parameterType="map" id="consultarPeriodos" resultMap="com.pcvpmo.pdsw.upteho.dao.mybatis.mappers.CursoMapper.PeriodoResult">
        select
                
        nombre,
        fecha_inicio,
        fecha_fin
        from periodos
    </select>
    
    <insert parameterType="map" id="registrarPeriodo">
        insert into periodos
        values(#{nombre}, #{fechaInicial}, #{fechaFin});
    </insert>
</mapper> 