<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pcvpmo.pdsw.upteho.dao.mybatis.mappers.ProgramaMapper">    
        
    <select parameterType="map" id="consultarProgramas" resultMap="com.pcvpmo.pdsw.upteho.dao.mybatis.mappers.MateriaMapper.ProgramaResult">
        select pro.id as id,
        pro.nombre as nombre
        from programas as pro;
    </select>
    
    
</mapper>
