<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.pcvpmo.pdsw.upteho.dao.mybatis.mappers.ReservacionSalonMapper">
    <resultMap type='ReservacionSalon' id='ReservacionSalonResult'>
        <id property="cohorteCurso" column="Clases_Cursos_cohorte"/>
        <association property='salon' javaType="Salon" columnPrefix="sal_" resultMap="com.pcvpmo.pdsw.upteho.dao.mybatis.mappers.SalonMapper.SalonResult"/>
        <association property="clase" javaType="Clase" columnPrefix="cla_" resultMap="com.pcvpmo.pdsw.upteho.dao.mybatis.mappers.ClaseMapper.ClaseResult"/>
    </resultMap>
    
    <select parameterType="map" id="consultarSalonesReservados" resultMap="ReservacionSalonResult">
        select
        res.Clases_Cursos_cohorte,
        res.Clases_id_clase,
        res.Salon_id_salon,
        
        sal.id_salon as sal_id_salon,
        sal.tipo_salon as sal_tipo_salon,
        
        cla.Cursos_cohorte as cla_Cursos_cohorte,
        cla.id_clase as cla_id_clase,
        cla.fecha_hora as fecha_hora,
        cla.duracion as cla_duracion
        
        from Clases as cla
        left join ReservacionSalones as res on cla.Cursos_cohorte=res.Clases_Cursos_cohorte
        and cla.id_clase=res.Clases_id_clase
        left join Salon as sal on res.Salon_id_salon=sal.id_salon
        
    </select>
</mapper>