<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<settings>
        <setting name="logImpl" value="LOG4J"/>        
    </settings>-->
    
    <typeAliases>
        <typeAlias type="com.pcvpmo.pdsw.upteho.entities.Asignatura" alias="Asignatura"/>
        <typeAlias type="com.pcvpmo.pdsw.upteho.entities.Clase" alias="Clase"/>
        <typeAlias type="com.pcvpmo.pdsw.upteho.entities.Curso" alias="Curso"/>
        <typeAlias type="com.pcvpmo.pdsw.upteho.entities.Materia" alias="Materia"/>
        <typeAlias type="com.pcvpmo.pdsw.upteho.entities.Periodo" alias="Periodo"/>
        <typeAlias type="com.pcvpmo.pdsw.upteho.entities.Profesor" alias="Profesor"/>
        <typeAlias type="com.pcvpmo.pdsw.upteho.entities.Programa" alias="Programa"/>
        <typeAlias type="com.pcvpmo.pdsw.upteho.entities.Recurso" alias="Recurso"/>
        <typeAlias type="com.pcvpmo.pdsw.upteho.entities.Requisito" alias="Requisito"/>
        <typeAlias type="com.pcvpmo.pdsw.upteho.entities.Cohorte" alias="Cohorte"/>
        <typeAlias type="com.pcvpmo.pdsw.upteho.entities.HorarioDisponible" alias="HorarioDisponible"/>
    </typeAliases>
        
                        
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgresql://ec2-23-21-219-105.compute-1.amazonaws.com:5432/d3lmsdnbs8tujt?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory" />
                <property name="username" value="ybbqthsauwnmve" />
                <property name="password" value="209fbbbeeae98d781cd2b72695911faff0a32c64a52427ced37355a8962eee58" />
            </dataSource>
        </environment>
    </environments>
        
    <mappers>
        <mapper resource="mappers/CursoMapper.xml"></mapper>
        <mapper resource="mappers/MateriaMapper.xml"></mapper>
        <mapper resource="mappers/ClaseMapper.xml"></mapper>
        <mapper resource="mappers/CohorteMapper.xml"></mapper>
        <mapper resource="mappers/HorarioDisponibleMapper.xml"></mapper>
        <mapper resource="mappers/ProfesorMapper.xml"></mapper>
        <mapper resource="mappers/AsignaturaMapper.xml"></mapper>
        <mapper resource="mappers/ProgramaMapper.xml"></mapper>
    </mappers> 
        
        
</configuration>